body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: black;
    color: blue;
  }
  
  header {
    flex: 0 80px;
    background-color: red;
    color: rgb(235, 235, 83);
  }
  
  header .nav {
    color: rgb(235, 235, 83);
  }
  
  menu .nav-item {
    color: rgb(235, 235, 83);
  }
  
  header .navbar-brand {
    color: rgb(235, 235, 83);
  }
  menu .navbar-nav {
    color: rgb(235, 235, 83);
  }
  
  main {
    background-color: black;
    color: lightblue;
    text-align: left;
    flex: 1 calc(100vh - 110px);
  }

  main .table {
    
  }
  
  main .p {
    text-align: left;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
    color: rgb(235, 235, 83);
  }
  
  li {
    margin-left: 0px;
    margin-right: 50px;
    xpadding-left: 0px;
    xpadding: 0 0.3em;
    color: black;
  }
  
  
  footer {
    flex: 0 30px;
    background: rgb(235, 235, 83);
    color: black;
    font-style: italic;
  }
  
  